/* style.css*/

.main-body{
    background-color: #DCEBFF;
    font-family: Arial, sans-serif;
    border-width: 0px;
    border-style:solid; 
    border-color: #000069;
   
}

.header {
    background-color: #DCEBFF;
    font-family: Arial, sans-serif;
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    border-width: 2px 2px 0px 2px; 
    border-color: #000069;
    border-style:solid;
}

.sub-menu{
    background-color: #cbd7ff;
    font-family: Arial, sans-serif;
    border-width: 3.5px;
    border-color: #000069;
    border-style:solid;

}

.sub-menu-list{
    background-color: #cbd7ff;
    font-family: Arial, sans-serif;
    color: #000069;
    font-size: 30px;
    font-weight: 600;
}

.base{
    background-color: #ced9fc;
    font-size: 30px;
    border-width: 0px;
    border-color: #000069;
    border-style: solid;
}

.contents{
    background-color: #DCEBFF;
    font-size: 30px;
    border-width: 0px 2px 2px 2px;
    border-color: #000069;
    border-style:solid;
}

.perform{
    background-color: #ced9fc;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #000069;
    border-width: 2px; 
    border-color: #000069;
    border-style:solid;
    border-radius: 30px;
}

.list{
    background-color: #ced9fc;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 350;
    color: #000000;
    border-width: 2.5px; 
    border-color: #000069;
    border-style:solid;
    border-radius: 30px;
}

