/* style.css*/

/*body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    font-size: 20px;
    font-weight: 700;
}

p {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}*/


.main-body{
    background-color: #F4FFFF;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #ced9fc;
    font-family: Arial, sans-serif;
    color: #000000;
    font-size: 30px;
    font-weight: 500;

}

.sub-menu{
    background-color: #cbd7ff;
    font-family: Arial, sans-serif;
    border-width: 5;
    border-color: #000069;
}

.sub-menu-list{
    background-color: #cbd7ff;
    font-family: Arial, sans-serif;
    color: #000069;
    font-size: 30px;
    font-weight: 600;
}


.base{
    background-color: #ced9fc;
    font-size: 30px;
}

.contents{
    background-color: #ced9fc;
    font-size: 30px;
}

.perform{
    background-color: #DCEBFF;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #000069;
    border-width: 5;
    border-color: #000069;
}

.list{
    background-color: #ced9fc;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 350;
    color: #000000;
    border-width: 5;
    border-color: #000069;
}
