.main-body {
    display:flex;
    flex-direction: column;
    width: 1500px;
    height: 900px;
}

.header {
    display:flex;
    flex-grow: 1;
}

.base {
    display:flex;
    flex-direction: column;
    flex-grow: 9;
}

.sub-menu {
    display:flex;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

}

.sub-menu-list {
    flex-grow: 1;
    text-align: center;
    text-decoration-line: none;
}

.sub-menu-list:hover {
    color: red;
    text-decoration-line: underline;
    text-align: center;
    transition: background 0.3s ease-in-out,
                color 0.3s ease-in-out;
}

.contents {
    display:flex;
    justify-content: space-around;
    flex-grow: 8;
}

.list {
    display:none;
    flex-grow: 1;
    margin: 10px;
}

.perform {
    display:flex;
    flex-grow: 2;
    margin: 10px;
    float:left;
}

.page {
    display: none;
    flex-grow: 3;
    flex-direction: column;
}

#mainpage {
    display: flex;
    border: none;
    text-align: center;
}

#logo {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

#input {
    display: flex;
    flex-grow: 3;
    align-items: center;
    justify-content: center;
}

#inputbox {
    width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
}

#inputbox:focus {
    border-color: dodgerblue;
}

#button {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

#button:hover {
    background-color: deepskyblue;
}

/*compare1 2*/
#Compare1{
    display: inline;
    margin: 10px;
    width: 50%;
    float:left;
  }
  
#Compare2{
    display: inline;
    margin: 10px;
    width: 30%;
    float:right;
  }

